.btn {
  font-size: 2em;
  background-color: #1d002c;
  color: white;
  padding: 6px 30px;
  width: fit-content;
  margin: 10px auto;
  cursor: pointer;
}

.btn:disabled {
  background-color: gray;
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todos .todo {
  font-size: 3em;
  cursor: pointer;
}

.todos .todo.completed {
  text-decoration: line-through;
  color: red;
}
