.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
  padding: 0 15px;
  color: white;
  background-image: url(https://www.bates.edu/wordpress/files/2016/07/texture-03.jpg);
}
