.headers {
  font-size: 1.4em;
  padding: 10px;
  color: white;
  background-image: url(https://c.pxhere.com/images/39/a4/a55f513952c39fee8fd188008721-1443659.jpg!d);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.headers div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headers nav ul {
  display: flex;
}

.headers nav ul li {
  list-style: none;
}

.headers nav ul li a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
