.todos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos .todo {
  font-size: 3em;
  cursor: pointer;
  transition: 0.3s;
}

.todos .todo.completed {
  text-decoration: line-through;
  color: red;
}

form {
  margin: 10px auto;
}

.todo-text {
  font-size: 2em;
  padding: 6px 30px;
  outline: none;
}
